<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjf.github.producerclient.mapper.UserInfoMapper">
	<select id="logIn" parameterType="com.wjf.github.commons.domain.producer.UserInfo" resultType="com.wjf.github.commons.domain.producer.UserInfo">
		SELECT
			userinfo.user_id,
			userinfo.user_name,
			userinfo.user_status
		FROM
			userinfo
		WHERE
			userinfo.user_name=#{userName}
		AND userinfo.password=#{password}
	</select>

	<update id="updateUserNameByUserId" parameterType="com.wjf.github.commons.domain.producer.UserInfo">
		UPDATE
			userinfo
		SET
			userinfo.user_name=#{userName}
		WHERE
			userinfo.user_id=#{userId}
	</update>

</mapper>